<div class="container-fluid py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 mx-3">

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Avistamiento de aves</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Observación guiada de aves en su hábitat natural.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/1_avistamiento_aves.jpg"  class="btn btn-custom">Separa tu cupo aquí 
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Circuito aereo</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Recorrido aéreo panorámico por destinos turísticos.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/4_circuito_aereo.jpg"  class="btn btn-custom">Separa tu cupo aqui
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Caminata por linea ferrea</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Caminata por antiguos rieles con paisajes únicos.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/3_caminata-ferrrea.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i>
                        </a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Hacienda Napoles y Guatape</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Tour por la famosa hacienda y el colorido pueblo de Guatapé.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/10_hacienda_napoles.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Santander - San Gil</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Viaje de aventura y naturaleza en San Gil, Santander.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/13_santander.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Ecuador y Santuario de las lajas</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Exploración cultural al Santuario de Las Lajas y Ecuador.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/16_ecuador.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Inglaterra y Escocia</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Viaje por la historia y paisajes de Inglaterra y Escocia.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/19_Inglaterra.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Turquia</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Descubre la riqueza cultural y paisajes de Turquía.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/22_turquia.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Cabalgata</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Cabalgata campestre entre montañas y senderos naturales.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/2_cabalgata.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Excursion al rio negro</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Aventura fluvial por los paisajes del Río Negro.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/5_rio_negro.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Boyaca - Lago de Tota</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Excursión a la laguna de Tota y pueblos coloniales de Boyacá.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/8_boyaca.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Huila - San Agustín</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Explora el legado arqueológico de San Agustín, Huila.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/11_san_agustin.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Tolú y Coveñas</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Relájate en las playas de Tolú y Coveñas.</p>
                    <a href="ruta/a/imagen1.jpg" download class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Fotografía del Evento</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Fotografía del evento turístico celebrado en mayo.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/14_tolu.jpg" download class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Guatemala</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Captura del evento celebrado en mayo, lista para descargar.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/17_Guatemala.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Israel, tierra santa</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Peregrinación espiritual por los lugares sagrados de Israel.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/20_israel.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Tobia Sky</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Deportes extremos y naturaleza en Tobia.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/6_TOBIA_SKY.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Eje cafetero</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Tour por los cafetales y pueblos típicos del Eje Cafetero.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/9_eje%20cafetero.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">8 paises europeos</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Viaje inolvidable por ocho países de Europa, Cultura, paisajes y gastronomia.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/18_europa.jpg" class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Ciudad de Mexico y alrededores</h5>
                    <i class="bi bi-image icon-large"></i>
                    <p class="lead text-start">Descubre Ciudad de México y sus impresionantes alrededores.</p>
                    <a href="https://websites.coonadoc.co/images/rocketlauncher/pages/Turismo/21_mexico.jpg"  class="btn btn-custom">Separa tu cupo aquí  <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        