<div class="container-fluid py-4"> <!-- Usamos container-fluid para que ocupe todo el ancho disponible -->
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 mx-3"> <!-- Modificamos el número de columnas en cada tamaño -->
        <!-- Tarjetas -->
        <div class="col">
            <div class="card card-verde h-100">
                <a href="https://www.ejemplo.com" class="card-link">
                    <div class="card-body">
                        <!-- Título con la flecha -->
                        <h5 class="card-title-verde d-flex justify-content-between align-items-center">
                            Oficina Virtual
                            <i class="bi bi-arrow-right"></i> <!-- Icono de la flecha -->
                        </h5>
                        <!-- Imagen -->
                        <img src="assets/cards_images/oficina_Virtual.png" class="card-img-top" alt="Imagen de ejemplo">
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card card-naranja h-100">
                <a href="https://www.ejemplo.com" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title-naranja d-flex justify-content-between align-items-center">
                            Mi Pago Amigo
                            <i class="bi bi-arrow-right"></i>
                        </h5>
                        <img src="assets/cards_images/oficina_Virtual.png" class="card-img-top" alt="Imagen de ejemplo">
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card card-verde h-100">
                <a href="https://www.ejemplo.com" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title-verde d-flex justify-content-between align-items-center">
                            Campus
                            <i class="bi bi-arrow-right"></i>
                        </h5>
                        <img src="assets/cards_images/oficina_Virtual.png" class="card-img-top" alt="Imagen de ejemplo">
                    </div>
                </a>
            </div>
        </div>

        <div class="col">
            <div class="card card-naranja h-100">
                <a href="https://www.ejemplo.com" class="card-link">
                    <div class="card-body">
                        <h5 class="card-title-naranja d-flex justify-content-between align-items-center">
                            App Coonadoc
                            <i class="bi bi-arrow-right"></i>
                        </h5>
                        <img src="assets/cards_images/oficina_Virtual.png" class="card-img-top" alt="Imagen de ejemplo">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
