/* Estilos generales */
.about-us-container {
    overflow: hidden;
    position: relative;
  }
  
/* Titulo */
.tittle {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 1.5rem;
    line-height: 1.1;
    color: #FFA420;
}
  

  /* Descripcion */
.lead {
    font-size: 1.35rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
    margin : 1.5rem;
}
  
/* Colores cajas */
.box-orange {
    background-color: #FFA420;
    color: white;
}

.box-green {
    background-color: #22CC23;
    color: white;
}

.box-white {
    background-color: #ffffff;
    color: white;
}

.content-wrapper p{
    margin: 0%;
}
   
/* imagenes */
.img-fluid {
    width: 40%;
    height: auto;
    transition: all 0.5s ease;
}
  
.mission-img:hover {
    transform: rotate(-5deg) scale(1.1);
}
  
.vision-img:hover {
transform: rotate(5deg) scale(1.1);
}


.content-wrapper {
    position: relative;
    z-index: 2;
}
  
/* Responsive */
@media (max-width: 768px) {
    .lead {
        font-size: 1.15rem;
        
    }

    .box-orange, .box-green {
        min-height: 300px;
        padding: 30px !important;
    }

    .img-fluid {
        width: 50%;
    }

    .tittle {
        font-size: 2rem;
    }
}
  
@media (max-width: 576px) {
    .lead {
        font-size: 1.15rem;
        
    }

    .img-fluid {
        width: 60%;
    }

    .box-orange, .box-green {
        min-height: auto;
    }

    .tittle:after {
        width: 70%;
        left: 15%;
    }
}