.box-red {
    background-color: #FFA420; 
    color: white;
}

.box-orange {
    background-color: #22CC23;
    color: white;
}

.box-teal {
    background-color: #008080; 
    color: white;
}

.box-white {
    background-color: #ffffff; 
    color: black;
}

.img-fluid{
    width: 30%;
    height: auto;
}

.text-center {
    font-size: 1.35rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

#tittle{
    text-align: center;
    padding: 0.5rem;
    color: #ffa420;
    font-weight: bold;
}

#description{
    font-size: 1.18rem;
    /*margin-bottom: 1.5rem;*/
    line-height: 1.6;
    margin : 1.5rem;
}