<div class="row g-0">
  <!-- Tercera fila -->
   
  <!-- Primera fila -->
  <div class="col-md-6 box-orange text-white d-flex flex-column justify-content-center align-items-center p-5" 
    id="mission">
    <div class="content-wrapper">
      <h2 class="fw-bold">Nuestra Misión</h2>
      <p class="lead">
        COONADOC desarrolla el modelo solidario, orientada a
        satisfacer necesidades y expectativas a través de servicios y
        beneficios de calidad, contribuyendo a la calidad de vida de
        sus asociados y familias.
      </p>
    </div>
  </div>
  <div class="col-md-6 box-white d-flex justify-content-center align-items-center p-5 img-container">
    <img src="assets/AboutUs/Mision.png" class="img-fluid mission-img" alt="Misión">
  </div>

  <!-- Segunda fila -->
  <div class="col-md-6 box-white d-flex justify-content-center align-items-center p-5 img-container order-md-1 order-2" id="vision">
    <img src="assets/AboutUs/Vision.png" class="img-fluid vision-img" alt="Visión">
  </div>
    <div class="col-md-6 box-green text-white d-flex flex-column justify-content-center align-items-center p-5 order-md-2 order-1">
    <div class="content-wrapper">
      <h2 class="fw-bold">Nuestra Visión</h2>
      <p class="lead">
        COONADOC para el año 2029 incrementará su base social
        en más de 1.000 asociados, a través de la gestión social, el
        empoderamiento de los valores corporativos de eficiencia,
        eficacia y calidez y la prestación de servicios generando
        transformación de vida, con las políticas del buen-vivir y el
        bien-estar, siguiendo los principios del cooperativismo.
      </p>
    </div>
  </div>
  
</div>