<div class="container-fluid py-4">
  <!-- Usamos container-fluid para que ocupe todo el ancho disponible -->
  <h2 id="tittle">Quienes somos</h2>
  <p id="description">
    Somos una cooperativa de aportes y crédito que entrega servicios integrales
    que genera rentabilidad...
  </p>

  <div class="col">
    <div class="card card-verde h-100">
      <a href="https://www.ejemplo.com" class="card-link">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <!-- Texto de la tarjeta -->
            <div class="text">
              <h5 class="card-title-verde">Nuestra Misión</h5>
              <p class="card-text">
                COONADOC desarrolla el modelo solidario, orientada a satisfacer
                necesidades y expectativas a través de servicios y beneficios de
                calidad, contribuyendo a la calidad de vida de sus asociados y
                familias.
              </p>
            </div>
            <!-- Imagen -->
            <img
              src="assets/AboutUs/Mision1.png"
              class="card-img-top"
              alt="Imagen de ejemplo"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col">
    <div class="card card-verde h-100">
      <a href="https://www.ejemplo.com" class="card-link">
        <div class="card-body">
          <div class="d-flex align-items-center">
            <!-- Texto de la tarjeta -->
            <div class="text">
              <h5 class="card-title-verde">Nuestra Visión</h5>
              <p class="card-text">
                COONADOC para el año 2029 incrementará su base social en más de
                1.000 asociados, a través de la gestión social, el
                empoderamiento de los valores corporativos de eficiencia,
                eficacia y calidez y la prestación de servicios generando
                transformación de vida, con las políticas del buen-vivir y el
                bien-estar, siguiendo los principios del cooperativismo.
              </p>
            </div>
            <!-- Imagen -->
            <img
              src="assets/AboutUs/Vision.png"
              class="card-img-top"
              alt="Imagen de ejemplo"
            />
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
