<div class="container-fluid py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 mx-3">

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Solicitud de credito</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-ce ">Formato para solicitud de credito.</p>
                    <a href="https://drive.google.com/file/d/1DM3h1v3RG580e6IaekSI4fmEAHTFUCOz/view" download class="btn btn-custom" target="_blank">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Solicitud de asociación</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Formato para la solicitud de asociación y actualziacion de datos.</p>
                    <a href="https://drive.google.com/file/d/1LxejwEUc89Y_dhrAMC_NIbiUWLO4n97Y/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Solicitud auxilio educativo</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Formato para la solicitud de auxilio educativo.</p>
                    <a href="https://drive.google.com/file/d/1I1toc_1-R81-LednvGJ839xNlmsQsywg/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Registro de novedades</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Formato para el registro de las novedades.</p>
                    <a href="https://drive.google.com/file/d/1IoMdspJgKYN4erOFF7UFFZpyyFnf-UYI/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Solicitud de retiro voluntario</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Formato para solicitud de retiro voluntario.</p>
                    <a href="https://drive.google.com/file/d/1vCEGiUn9KpCRNaupvif2FD4kOb92HVGA/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Presentación de familiares</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Formato para presentacion de familiares para asociación.</p>
                    <a href="https://drive.google.com/file/d/1g1wfxcchSjphenu_Q3JZCuJg6i4t6foF/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Solicitud auxilio de solidaridad</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Formato para solicitud de auxilio de solidaridad.</p>
                    <a href="https://drive.google.com/file/d/15SVS2D_KGU3xhtuLnif4DjeyxUeYUcXu/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

     <!-- Tarjeta -->
     <div class="col-12 col-sm-6 col-md-3">
        <div class="card card-custom h-100 text-center py-4">
            <div class="card-body">
                <h5 class="card-title">Autorizacion de menores</h5>
                <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                <p class="lead text-start">Formato para la asociación de menores de edad.</p>
                <a href="https://drive.google.com/file/d/119rgbTM5nrXIPXfIjLcs50yUdRomtFqF/view" download class="btn btn-custom">Descargar PDF <i
                        class="bi bi-arrow-right"></i></a>
            </div>
        </div>
    </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Ingreso nuevos socios.</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Formato para la vinculación de nuevos socios.</p>
                    <a href="https://drive.google.com/file/d/1J5KWZ_1lRBgO9rI75DLerFTysf5aJ95k/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Actualización de datos.</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Formato para la actualziacion de datos de los neuvos socios.</p>
                    <a href="https://drive.google.com/file/d/1J5KWZ_1lRBgO9rI75DLerFTysf5aJ95k/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>


    </div>
</div>