/* Banner */
.banner {
    background-size: cover;
    background-position: center;
    height: 83vh;
    position: relative;
    color: white;
    overflow: hidden;
    border-bottom-left-radius: 100% 20%;
    border-bottom-right-radius: 100% 20%;
}

/* Overlay banner */
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}

/* Contenido banner */
.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}

/* Titulo banner */
.banner h1 {
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 0.5rem;
    line-height: 1.1;
}

/* texto banner */
.lead {
    font-size: 1.35rem;
    margin-bottom: 1.5rem;
    line-height: 1.6;
}

/* Primer boton banner */
.banner-btn-primary {
    background-color: #22CC23 !important;
    font-weight: 450;
    color: white;
    
    border: none;
    border-radius: 0px;
    font-size: 1.2rem;
    
    margin: 10px;
    padding: 0.5rem 2rem;
}

.banner-btn-primary:hover {
    background-color: #228B22 !important;
    border: none;
}

/* Segundo boton banner */
.banner-btn-secundary {
    background-color: #f1fdf0 !important;
    font-weight: 450;
    color: #22CC23;
    
    border: none;
    border-radius: 0px;
    font-size: 1.2rem;
    
    margin: 10px;
    padding: 0.5rem 2rem;
}

.banner-btn-secundary:hover {
    background-color: #defbdd !important;
    color: #228B22;
    
    border: none;
}

/* Botones galeria banner*/
.gallery-controls {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
}

.gallery-btn {
    background-color: #defbdd;
    border: 2px solid transparent;
    border-radius: 50%;
    width: 5px;
    height: 15px;
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.gallery-btn.active {
    background-color: #22CC23;
}

/* Imagenes banner*/
.banner .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 2s ease-in-out;
}

.banner .image.active {
    opacity: 1;
}

/* Responsive banner*/
@media (max-width: 1000px) {
    .banner-content {
        white-space: normal; 
        padding: 0 5px; 
    }
}