<div class="container-fluid py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 mx-3">

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Informe de Actividades</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Resumen de las actividades realizadas durante el trimestre.</p>
                    <a href="ruta/a/documento.pdf" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Informe de Actividades</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Resumen de las actividades realizadas durante el trimestre.</p>
                    <a href="ruta/a/documento.pdf" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Informe de Actividades</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Resumen de las actividades realizadas durante el trimestre.</p>
                    <a href="ruta/a/documento.pdf" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Informe de Actividades</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Resumen de las actividades realizadas durante el trimestre.</p>
                    <a href="ruta/a/documento.pdf" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Informe de Actividades</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Resumen de las actividades realizadas durante el trimestre.</p>
                    <a href="ruta/a/documento.pdf" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Informe de Actividades</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Resumen de las actividades realizadas durante el trimestre.</p>
                    <a href="ruta/a/documento.pdf" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Informe de Actividades</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Resumen de las actividades realizadas durante el trimestre.</p>
                    <a href="ruta/a/documento.pdf" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>


    </div>
</div>