<div class="container-fluid py-4">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-4 mx-3">

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Reglamento fondo de solidaridad</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Reglamento del fondo de solidaridad de los asociados a COONADOC.</p>
                    <a href="https://drive.google.com/file/d/1WZEIFwQAY8iSzkeW3e1s17Y4WdXyd4Yc/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Reglamento de auxilio educativo</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Reglamento del auxilio educativo para los asociados a COONADOC.</p>
                    <a href="https://drive.google.com/file/d/1RygrbVsFKtv4jVmK4pjnoJU27jYBE4Yf/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Reglamento de aportes sociales.</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Reglamento de los Aportes Sociales de los asociados a COONADOC.</p>
                    <a href="https://drive.google.com/file/d/1Kldjz9e4WmjjXSYZdkYUZ-_K9PUfR1N2/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Politica de proteccion de datos.</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Politica de protección de datos COONADOC.</p>
                    <a href="https://drive.google.com/file/d/1osaWOSXZmJeJl9vx43S8ZIPwmqV0OzCk/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Politica integral</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Politica integral de COONADOC.</p>
                    <a href="https://drive.google.com/file/d/1dRj4Ukyp3eOpkRrdgZGpQRZ2EYf5T35O/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Politica de No alcohol y drogas</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Politica del no consumo de alcohol ni drogas de COONADOC.</p>
                    <a href="https://drive.google.com/file/d/1C_A1tq3N_kLbJ_cZaY2DRbju146PqT9g/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>

        <!-- Tarjeta -->
        <div class="col-12 col-sm-6 col-md-3">
            <div class="card card-custom h-100 text-center py-4">
                <div class="card-body">
                    <h5 class="card-title">Politica de buen gobierno</h5>
                    <i class="bi bi-file-earmark-pdf-fill icon-large"></i>
                    <p class="lead text-start">Politica del buen gobierno de COONADOC.</p>
                    <a href="https://drive.google.com/file/d/1SX_nc2HI32TUkecHCc53Ad9ZLgkR0yHq/view" download class="btn btn-custom">Descargar PDF <i
                            class="bi bi-arrow-right"></i></a>
                </div>
            </div>
        </div>


    </div>
</div>